  * {
            background: #75baff;
            background: linear-gradient(90deg, rgba(117, 186, 255, 1) 0%, rgba(153, 196, 255, 1) 35%, rgba(186, 226, 255, 1) 100%);
            text-align: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }

        h1, h2 {
            background: none;
            color: black;

        }

        h1 {
            font-size: 3rem
        }
        

        .add{
            text-align: center;
            width: 30.5rem;
            color: black;
            background: white;

        }
        
        table{
            margin-top: 1rem;
            width: 40rem;
            height: 20rem;
        }

        th {
            text-align: center;
            background: white;
            color: black;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

        }

        td {
            background: white;
            color: #000;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

        }

        td a {
            background: white;
            color: #000;
            text-decoration: none;
        }

        .contener{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            padding: 10rem;
        }